.seller, .buyer
{
	font-family: "Thasadith-Bold";
	font-size: 16px;
	line-height: 32px;
	position: relative;

	ul
	{
		min-width: 300px;
		li
		{
			margin: 10px 0;
		}
		li:first-child a
		{
			color: #38bccd;
		}
	}
	
	.divider
	{
		margin: 10px !important;
	}
	.menu_icon
	{
		position: absolute;
		right: 20px;
	}

	.other_act_img
	{
		display: flex;
		a:first-child
		{
			margin-left: 13px;
		}
		a
		{
			padding: 0 !important;
		}
		img
		{
			margin: 10px 5px;
		}
		.more
		{
			padding: 5px;
		}
	}
	
}
.buyer
{
	ul
	{
		min-width: 200px;
	}
}