
.page-sidebar [data-toggle=buttons].btn-group .btn input[type=radio]{
	position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.page-content{
	overflow: hidden;
}
.target-tree .dial i{
	right: 15px !important;
}
.dial > .rate > input{
	margin-left: -51px !important;
}