.page-main .page-main-header .search-input {
	border: 0px;
    background-color: #deebf2;
}
.page-main .page-main-header .fa-search {
	position: absolute;
    margin: 10px -12px;
}
.headline-second {
	margin-top:7px;
}
.item {
	height:360px;
}

