.page-main .page-main-header .search-input {
	border: 0px;
    background-color: #deebf2;
}
.page-main .page-main-header .fa-search {
	position: absolute;
    margin: 10px -12px;
}
.headline-second {
	margin-top:7px;
}
.item {
	height:360px;
}
@media (min-width: 1230px){
	.item .types a {
	    font-size: 1.35vw !important;
	}	
}
@media (max-width: 992px){
	.item .types a {
	    font-size: 3.1vw !important;
	}	
	.item .item-footer {
	    font-size: 30px;
	}
}
/*@media (max-width: 768px)
.page-result-content .item .item-footer {
    font-size: 30px;
}
*/